<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-date {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true}} -->
<main class="wp-block-group"><!-- wp:post-featured-image {"align":"full"} /-->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"post-meta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->